# Node
node_modules
.pnp*
.turbo
.next
out
dist

# Env & Vercel
.env*
.vercel

# Local data and uploads
data/
public/uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.DS_Store
.idea
*.swp

